name: Java CI with Maven

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
		env:
	        SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
	        SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
	        SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
	        SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
	        SMTP_KEY: ${{ secrets.SMTP_KEY }}
			HOST: ${{ secrets.HOST }}
			PASSWORD: ${{ secrets.PASSWORD }}
			PROTOCOL: ${{ secrets.PROTOCOL }}
			SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
			USERNAME: ${{ secrets.USERNAME }}
      run: mvn -B package -DskipTests --file EmailFollowUp/pom.xmlname: Java CI with M

on:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      env:
        SPRING_DATASOURCE_URL: ${{ secrets.SPRING_DATASOURCE_URL }}
        SPRING_DATASOURCE_USERNAME: ${{ secrets.SPRING_DATASOURCE_USERNAME }}
        SPRING_DATASOURCE_PASSWORD: ${{ secrets.SPRING_DATASOURCE_PASSWORD }}
        SMTP_USERNAME: ${{ secrets.SMTP_USERNAME }}
        SMTP_KEY: ${{ secrets.SMTP_KEY }}
        HOST: ${{ secrets.HOST }}
        PASSWORD: ${{ secrets.PASSWORD }}
        PROTOCOL: ${{ secrets.PROTOCOL }}
        SENDER_EMAIL: ${{ secrets.SENDER_EMAIL }}
        USERNAME: ${{ secrets.USERNAME }}
      run: mvn -B package -DskipTests --file EmailFollowUp/pom.xml